.navigation {
  display: flex;
  max-width: 15%;
  margin-left: 10rem;

  &__home {
    height: 2rem;

    @include medium {
      display: none;
    }

    img {
      height: 100%;
      margin-top: 1rem;
      margin-left: 1rem;
      filter: brightness(0) invert(1); 
    }
  }

  &__menu {
    display: inline-flex;
    width: 100%;
    margin-left: 2rem;
    color: $color-white;
    text-transform: uppercase;

    @include medium {
      display: none;
    }

    a {
      li {
        margin: 1.5rem;
        color: $color-white;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
      }

      &:hover {
        color: $color-white;
      }
    }
  }

  &__burger {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 3rem;
    margin: 1rem;
    cursor: pointer;

    @include medium {
      position: absolute;
      top: 3rem;
      right: 2rem;
    }

    span {
      width: 4rem;
      height: 0.5rem;
      margin-top: 0.4rem;
      background-color: $color-white;
      transition: 0.6s;
    }

    &.active {
      position: absolute;
      right: 2rem;
      z-index: 4;

      span {
        background-color: $color-black;
      }
    }
  }

  &__mobile {
    position: relative;
    display: none;
    width: 100%;
    opacity: 0.9;

    &.visible {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }

    &__column {
      position: sticky;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding-top: 5rem;
      padding-left: 2rem;
      overflow-x: scroll;
      background-image: linear-gradient(to bottom right, #04028b, #2f2db9, #504dff, $color-brand);
    }

    &__menu {
      display: flex;
      flex-direction: column;
      margin-top: 10rem;
      text-align: center;

      a {
        &:hover {
          color: $color-white;
        }

        li {
          margin: 1.5rem;
          color: $color-white;
          font-size: 2rem;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
